body {
    font-family: 'Poppins', sans-serif;
    background-color: #aeaeae33;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2891ce;
    background-image: url(../media/bckg.webp);
    background-repeat: no-repeat;
    background-position: center 60%; 
    background-size: cover;
    color: white;
    text-align: center;
    padding: 1rem;
    height: 250px; 
}


header h4 {
    padding: 0 100px 0 100px;
    justify-content: center;
}

#search {
    margin: 1rem;
    text-align: left;
    margin-left: 40vh;
}

#content {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #B9522C;
    color: white;
}

#photo-details {
    width: 40%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: left;
    padding: 1rem;
    margin-left:30vh ;
}

button {
    background-color: #B9522C; 
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px; 
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


button:hover {
    background-color: #000000;
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


footer button {
    margin: 10px;
    width: 120px;
}

